
<div class="home_links city_page">
  <%= link_to 'FREE business listing', business_listings_path, class: "claim_business_button hidden-xs" %>
  <%= link_to "Share your review", new_supplier_path, class: 'write_review_button' %>
   


</div>
<div class="competition_page_wrapper" style="width:600px; padding-top:40px; margin-top: 0px;"> 
<% if false %>  
    <h1 style='color:#6a6a6a; font-size:20px;'>Win a pair of glamorous designer earrings!</h1>
  
  <p>
    To celebrate the launch of Guide To Be’s new <a href="https://www.guidetobe.co.uk/categories/accessories">accessories</a> category, we’ve teamed up with chic online accessories boutique <a href="http://www.olivierlaudus.com/index.php">Olivier Laudus</a> to give away this gorgeous pair of earrings from their popular 2014 collection.

  </p>
   <div class="competition_image" style="width: 600px;">
   <%= image_tag "Earring.jpg", :style => "display: block; margin: auto;"%>
   <p style='font-size: 10px; line-height: 10px; margin-top: 0px; margin-bottom: 20px;text-align: center;'>Flora Cubic Zirconia Earrings by Olivier Laudus</p>
  </div>

  <p>
  Bring some 1950s glitz to your bridal look or an evening dress with these stylish drop earrings. Made from marquise crystals and solitaire diamantes set in an antique silver plate, these glamorous numbers are a must have for any party!
  </p>
  <p>
    To enter our competition, simply share a review of your wedding suppliers. You can get started <a href="http://www.guidetobe.co.uk/reviews/new">here</a>. Good luck!
  </p>
</br>

  <div class="competition_terms" style="line-height: 15px;">
    <p style="font-size: 10px;">Terms &amp; Conditions</p>
    <p style="font-size: 10px;">The competition is open to registered users of Guide To Be, aged 18 or over who submit one or more reviews on the Guide To Be website during the competition dates of 18th June 2014 to 8th July 2014, except for employees of Guide To Be and participating/associated companies, and the families of any of the above. The winner will be chosen at random after the closing date and will be notified within 7 days of the draw. If the winner cannot be contacted within 30 days, an alternative winner may be chosen. Guide To Be’s decision is final and no correspondence will be entered into. The prize is one pair of Flora Cubic Zirconia Bridal Earrings RRP £89.99. The prize is not transferable and there are no cash alternatives. Contestants entering agree to be bound by above rules and regulations and the user terms and conditions of the Guide To Be website.</p>
  </div>
</br>
</br>
<% end %>
    <p style="color: #E62B8A;">
    This competition has closed. Congrats to the winner <a href="https://www.guidetobe.co.uk/suppliers/catherine-bailey-make-up-artist" style="font-weight:bold;">Catherine Bailey Make-Up</a>!
  </p>
</br>
  <h1 style='color:#6a6a6a; font-size:20px;'>Your business could win £250!</h1>
  <p>We're running a competition for all wedding businesses listed on Guide To Be. Get four reviews on your business listing in March and you'll be entered into our competition to win £250. Create your business listing <a href="http://www.guidetobe.co.uk/business_listings">here</a> or if you're already listed get sharing your listing for more reviews. Here's a bit of help on <a href="http://www.guidetobe.co.uk/business">how to get reviews</a> from your customers - it's easy. Good luck!</p> 
  <br>
  <div class="competition_sticker hidden-xs">
   <%= image_tag "250comp.png"%></a>
  </div>
  <div class="competition_terms" style="line-height: 15px;">
    <p style="font-size: 10px;">Terms &amp; Conditions</p>
    <p style="font-size: 10px;">The competition is open to business listed on Guide To Be in the UK and Northern Ireland only, who receive 4 or more reviews on the Guide To Be website during the competition dates of 21st January 2015 to 16th March 2015, except for employees of Guide To Be and participating/associated companies, and the families of any of the above. The business can already be listed on Guide To Be but must have received four new reviews during the competition dates. The winning business will be chosen at random after the competition closing date and will be notified by email within 7 days of the draw. If the winner cannot be contacted within 30 days, an alternative winner may be chosen. Guide To Be’s decision is final and no correspondence will be entered into. The prize is not transferable and there are no cash alternatives. The prize is an Amazon voucher for £250. Contestants entering agree to be bound by the above rules and regulations and the user terms and conditions of the Guide To Be website.</p> 
  </div>
  <br>
  <div style="border-top: solid; color: #E62B8A; width: 450px; margin: auto;" class="hidden-xs">
  </div>
 
  <p style="color: #E62B8A;">
    This competition has closed. Congrats  to <a href="http://www.guidetobe.co.uk/brides/66/reviews" style="font-weight:bold;">Mrs C</a> who won a fab weekend at Turnberry Resort!
  </p>
  
  <br>
  <h1 style='color:#6a6a6a; font-size:20px;'>Win! Win! Win!</h1>
  <p>Fancy kicking back in the lap of luxury with your new spouse? We thought so!</p> 
  <p>Guide To Be is giving one lucky couple a romantic break for two at The Luxury Collection’s 5 star Turnberry Resort.</p>
    


  <p>
    Enjoy that famous Scottish hospitality at this iconic country resort, set against the breathtaking views of the Ayrshire coastline. Relax in the spa, sample award-winning cuisine or take in the stunning scenery with a round of golf on their famous course.
  </p>
   <div class="competition_image">
   <%= image_tag "turnberry_image.jpg"%>
  </div>

  <p>
  The prize includes two night’s bed and breakfast in a Deluxe Ocean View room, a three-course meal for two and a bottle of champagne.
  </p>
</br>
  <p>
    To enter, all you have to do is write two or more reviews of your wedding suppliers on Guide To Be. You can start sharing your reviews <a href="http://www.guidetobe.co.uk/reviews/new">here</a>. Good luck!
  </p>
  <div class="competition_supplier_logo">
    <%= link_to "http://www.turnberryresort.co.uk", target: '_blank' do  %>
      <%= image_tag "turnberry_logo.jpg" %>
    <% end %>
  </div>

  <div class="competition_terms" style="line-height: 15px;">
    <p style="font-size: 10px;">Terms &amp; Conditions</p>
    <p style="font-size: 10px;">The competition is open to registered users of Guide To Be in UK and Northern Ireland only, aged 18 or over who submit two or more reviews on the Guide To Be website during the competition dates of 14th February 2014 to 27th May 2014, except for employees of Guide To Be and participating/associated companies, and the families of any of the above. The winner will be chosen at random after the closing date of 27th May 2014 and will be notified within 7 days of the draw. If the winner cannot be contacted within 30 days, an alternative winner may be chosen. Guide To Be’s decision is final and no correspondence will be entered into. The prize is not transferable and there are no cash alternatives. The prize includes 2 x night’s bed and breakfast accommodation in a deluxe ocean view room,1 x  three course dinner for two at 1906 restaurant (food only) and a bottle of champagne on arrival at Turnberry Resort, Turnberry, Ayrshire, KA26 9LT www.turnberryresort.co.uk . The prize is valid from 27th May 2014 until 30th December 2014, subject to availability, excluding the 19th September - 1st October and 24-26th December. The prize is only valid for 2 persons and does not include travel to and from the hotel or any additional expenses occurred during the contestant’s stay at Turnberry Resort. Contestants entering agree to be bound by above rules and regulations and the user terms and conditions of the Guide To Be website. The winner agrees to be featured (name, picture and business details) on the Guide To Be website and other company communication channels.</p> 
  </div>

  

  
</div>