.add_supplier_text_wrapper
	.add_supplier_text
		%h1 Getting reviews
		%p 61% of customers read online reviews before making a purchase decision. 
		%br
		%p And brides-to-be are no different. That’s why we've created Guide To Be, the UK’s first user review site for wedding suppliers where newlyweds review businesses like yours for soon-to-be weds to read. 
		%br
		%p Once you’ve created a #{link_to 'business listing', business_listings_path} there are 3 easy ways to get reviews and showcase the great service at the heart of your business.

		%ul
			%li Email your link to recent newlyweds and ask them to review you
			%li Download our #{link_to 'Suppler Sticker', tool_path} to use on your website and email signature
			%li Share your listing and reviews via Facebook and Twitter

		%br
		%p You can also #{link_to 'respond to reviews', business_listings_path}, set up an #{link_to 'automated email', business_listings_path} asking your newlyweds to review you and #{link_to 'publish your Guide To Be reviews', business_listings_path} on your website. Find out more #{link_to 'here', business_listings_path}.

