
<div class="competition_page_wrapper media_wrapper" style="width:600px; padding-top:40px; margin-top:0px;">
  <h1 style='color:#6a6a6a; font-size:20px;'>Guide To Be in the media</h1>
  <p>Here are some of the highlights of our media coverage. For all media enquiries contact  <a href="mailto:hello@guidetobe.co.uk">hello@guidetobe.co.uk</a>. We'd love to hear from you!</p> 
  <br>

  <div style='width: 600px;'>
    <div>
      <p style= 'font-size: 20px; text-align: center;'>
        <a href="http://www.weddingdaily.co.uk/article/102/uk's-first-wedding-supplier-review-site">The Wedding Daily</a>
      </p>
    </div>
    <div class="competition_image" style='width: 600px;'>
      <%= image_tag "weddingdailylogo.png", :style => "display: block; margin-left: auto; margin-right: auto;" %>
    </div>
    <div class="competition_image" style='width: 600px;'>
      <%= image_tag "weddingdailyscreenshot.png", :style => "display: block; margin-left: auto; margin-right: auto;"%>
    </div>
    <div>
      <p style='margin-bottom: 20px;text-align: center;'>
        <a href="http://www.weddingdaily.co.uk/article/102/uk's-first-wedding-supplier-review-site">Click here to read full article</a>
      </p>
      </br>
    </div>
    <div style="clear:both;"></div>
  </div>

  <div style='width: 600px;'>
    <div>
      <p style= 'font-size: 20px; text-align: center;'>
        <a href="http://www.thewhitediaries.com/welcome-guide/">The White Diaries</a>
      </p>
    </div>
    <div class="competition_image" style='width: 600px;'>
      <%= image_tag "whitediaries.png", :style => "display: block; margin-left: auto; margin-right: auto;" %>
    </div>
    <div class="competition_image" style='width: 600px;'>
      <%= image_tag "whitediariesscreenshot.png", :style => "display: block; margin-left: auto; margin-right: auto;"%>
    </div>
    <div>
      <p style='margin-bottom: 20px;text-align: center;'>
        <a href="http://www.thewhitediaries.com/welcome-guide/">Click here to read full article</a>
      </p>
      </br>
    </div>
    <div style="clear:both;"></div>
  </div>
 
    
  <div style='width: 600px;'>
    <div>
      <p style= 'font-size: 20px; text-align: center;'>
        <a href="http://www.silverspoonlondon.co.uk/2014/05/guide-to-be.html">SilverSpoon London</a>
      </p>
    </div>
    <div class="competition_image" style='width: 600px;'>
      <%= image_tag "silverspoon.png", :style => "display: block; margin-left: auto; margin-right: auto;" %>
    </div>
    <div class="competition_image" style='width: 600px;'>
      <%= image_tag "silverspoonscreenshot.png", :style => "display: block; margin-left: auto; margin-right: auto;"%>
    </div>
    <div>
      <p style='margin-bottom: 20px;text-align: center;'>
        <a href="http://www.silverspoonlondon.co.uk/2014/05/guide-to-be.html">Click here to read full article</a>
      </p>
      </br>
    </div>
    <div style="clear:both;"></div>
  </div>

  <div style='width: 600px;'>
    <div>
      <p style= 'font-size: 20px; text-align: center;'>
        <a href="http://www.mrspandp.com/supplier-spotlightgetting-to-know/guide-to-be-a-user-review-site-for-the-uk-wedding-industry/">Mrs P&P</a>
      </p>
    </div>
    <div class="competition_image" style='width: 600px;'>
      <%= image_tag "pandp.png", :style => "display: block; margin-left: auto; margin-right: auto;" %>
    </div>
    <div class="competition_image" style='width: 600px;'>
      <%= image_tag "pandpscreenshot.png", :style => "display: block; margin-left: auto; margin-right: auto;"%>
    </div>
    <div>
      <p style='margin-bottom: 20px;text-align: center;'>
        <a href="http://www.mrspandp.com/supplier-spotlightgetting-to-know/guide-to-be-a-user-review-site-for-the-uk-wedding-industry/">Click here to read full article</a>
      </p>
      </br>
    </div>
    <div style="clear:both;"></div>
  </div>

  <div style='width: 600px;'>
    <div>
      <p style= 'font-size: 20px; text-align: center;'>
        <a href="http://www.beforethebigday.co.uk/2014/02/introducing-guide-to-be-brand-new.html">Before the Big Day</a>
      </p>
    </div>
    <div class="competition_image" style='width: 600px;'>
      <%= image_tag "bigday.png", :style => "display: block; margin-left: auto; margin-right: auto;" %>
    </div>
    <div class="competition_image" style='width: 600px;'>
      <%= image_tag "bigdayscreenshot.png", :style => "display: block; margin-left: auto; margin-right: auto;"%>
    </div>
    <div>
      <p style='margin-bottom: 20px;text-align: center;'>
        <a href="http://www.beforethebigday.co.uk/2014/02/introducing-guide-to-be-brand-new.html">Click here to read full article</a>
      </p>
      </br>
    </div>
    <div style="clear:both;"></div>
  </div>
  
  
</div>