.inner_page_text_based#top.privacy_page

  %h1 Privacy Policy
  %p We absolutely respect your privacy. Guide to Be Limited is registered with the UK Information Commissioner's Office (ICO Registration Number ZA034553) and we do not sell, trade or share personal information with organisations or individuals not connected with the Service.
  %p The "Service" consists of the Website, any pages we operate on third party social media applications, and the content and services we make available through them via the internet, mobile devices including smart phones and tablets, and/or interactive television devices and services, together with the provision by us of associated information, products and services by e-mail, telephone, fax or mail.
  %p This Privacy Policy ("Policy") explains what information is stored and how it is used on the website at www.guidetobe.co.uk (the "Website") [and any other application that we release, each as modified and / or updated by us from time to time (our "Apps")]. It forms part of and should therefore  be read in conjunction with our Terms of Use and Supplier Agreement ("User Agreements").

  %p This Policy was last updated on December 2013.

  %ul
    %li= link_to 'Information that we collect and store' , '#information'
    %li= link_to 'How we use this information', '#how_we_use'
    %li= link_to 'Security measures', '#security'
    %li= link_to 'Cookies and related tracking technologies', '#cookies'
    %li= link_to 'Retention of your information', '#retention'
    %li= link_to 'Other websites', '#others'
    %li= link_to 'International transfers', '#international'
    %li= link_to 'Access to information', '#access'

  #information
    %h3 Information that We Collect and Store
    %p We only collect, store or use information that we consider necessary for the purpose of providing the best service possible to all of our members. You are free to browse our Website [and Apps] without providing any personal information to us however you will need to provide some personal information for the purpose of logging in to your account and/or rating, reviewing or commenting on a supplier who advertises through the Service ("Supplier").

    %p Users who wish to rate, review or provide comment on a Supplier must register and provide us with their name, contact details and a secure password. We ask Suppliers for further information including their company logo and payment details. We store this information on our secure server.

    %p The vast majority of the material on the Website [and our Apps] originates from our users, and we rely on them to accurately rate, review or provide comment on Suppliers. We also hold any information that the user has provided as part of the sign-up process in relation to his or her wedding, such as the location and date.

    %p For quality control and training purposes, we may monitor or record your communication with our support team.

    = link_to 'back to top', '#top', class: 'top_link'

  #how_we_use
    %h3 How We Use this Information
    %p We check the accuracy of the information that you provide on registration and during your continued use of the Service and remind you of your obligations to provide accurate information to us as set out in our respective User Agreements.

    %p We may use the contact information you provide to contact you via email, fax, post or telephone regarding your registration, or any other matter that we consider relevant to your use of our Service.

    %p We may contact you by email for the purpose of sending our own marketing communications or marketing communications sent by an associated third party marketing partner. You have the right to opt-out of such communications via our user consent mechanisms.

    %p We may use any information we collect about you, including any information we may have obtained from your use of the Service, to resolve disputes, provide customer support, troubleshoot problems and enforce our User Agreements and policies. We may look across multiple users to identify problems or resolve disputes. In the unlikely event that fees remain unpaid on the account of a Supplier, we may pass your business information to a credit recovery company.

    %p We may disclose your personal information if we are compelled to do so by law, or in response to a valid, legally compliant request by a law enforcement or governmental authority. We may also disclose aggregated demographic and profile data (in which neither you nor any other individual is identified) to our commercial and marketing partners.

    = link_to 'back to top', '#top', class: 'top_link'


  #security
    %h3 Security Measures

    %p To prevent unauthorised access, maintain accuracy of our records and to ensure proper use and protection of your information, we have put appropriate physical, electronic and managerial procedures in place. However, we cannot guarantee the security of any information or data which is transmitted over public or third party networks. Please note: you must ensure that your password remains secret.

    = link_to 'back to top', '#top', class: 'top_link'

  #cookies
    %h3 Cookies and Related Tracking Technologies
    %p
      Please click
      %a{:href => "/cookier"}
      here to see our Cookies Policy, which forms part of this Policy.

    = link_to 'back to top', '#top', class: 'top_link'

  #retention
    %h3 Retention of Your Information
    %p We will retain your personal information where we are compelled to do so by law and for as long as is necessary for the purposes to which you consent under this Policy.

    = link_to 'back to top', '#top', class: 'top_link'

  #others
    %h3 Other Websites
    %p The Service may contain links to other websites which are outside our control and are not covered by this Policy. If you access other websites using the links provided, the operators of these websites may collect information from you which will be used by them in accordance with their privacy policy, which may differ from ours.

    = link_to 'back to top', '#top', class: 'top_link'

  #international
    %h3 International Transfers
    %p In some instances we may have to transfer your personal information to third parties located outside of the European Union for the purposes stated in this Policy. In such cases we shall ensure that appropriate provisions are in place, as per the requirements of applicable laws, to ensure that your personal information is appropriately protected.

    = link_to 'back to top', '#top', class: 'top_link'

  #access
    %h3 Access to Information
    %p Please contact us if you would like to know what information we are storing about you or to ask us to make any necessary changes to ensure that your information is accurate and kept up to date. We may ask for proof of identity before providing you with any information requested and reserve the right to refuse to provide information if identity is not established.

  %p Any changes to this Policy will be posted on the Website [and Apps].

  If you have any further comments or questions regarding our User Agreements then please contact us - we're ready to help.

  = link_to 'back to top', '#top', class: 'top_link'
