.inner_page_text_based#top.supplier_agreement

  %h1 Supplier Agreement
  %p
    Thank you for accessing our Service at
    %a{:href => "http://www.guidetobe.co.uk"}www.guidetobe.co.uk
    (the "Website"). Please read this Agreement carefully as it governs your use of the Service.  Do not use the Service unless you wish to be bound by this Agreement because, by clicking 'Agree to T+Cs' and/or continuing to use any part of the Service, you confirm your acceptance of this Agreement (which also includes the
    %a{:href => "/privacy"}Privacy Policy
    ).

  %p
    The Service is not directed at any person in any jurisdiction where the publication or availability of the Service is prohibited.  You must not access the Service from any such jurisdiction.  You are responsible for all compliance with local laws and regulations which apply to you.
  %p This Agreement was last modified on December 2013.

  %h3 Definitions

  %p We are Guide to Be Limited.  Our registered company number is 08730154 and our registered office is at 349 Bury Old Road, Prestwich, Manchester, UK, M25 1PY. Where we refer to ourselves in this Agreement, this is also taken to include (where the context allows) our employees, affiliates, associated and contracted persons, and persons supplying services to us.

  %p Where we refer to you in this Agreement, this also includes any company or person that accesses or uses our Service on your behalf.

  %p
    The "Agreement" includes the terms set out here and the
    %a{:href => "/privacy"}Privacy Policy
    , as made available via the internet [and / or our Apps from time to time].

  %p When you sign up to receive our services, we will provide a membership confirmation, which confirms that we will provide the Service to you in accordance with this Agreement.  We may issue this to you in electronic or hard-copy format.

  %p
    The "Service" consists of the Website (currently located at
    %a{:href => "http://www.guidetobe.co.uk"}www.guidetobe.co.uk
    ), [our Apps,] any pages we operate on third party social media applications, and the content and services we make available through them via the internet, mobile devices including smart phones and tablets, and/or interactive television devices and services, together with the provision by us of associated information, products and services by e-mail, telephone, fax or mail.

  %p As part of receiving the Service, you may from time to time upload information to the Service or otherwise provide us or other users of the Service with information relating to you or your subcontractors.

  = link_to 'back to top', '#top', class: 'top_link'

  %h3 Service Content

  %p The vast majority of the material on the Service originates from our users and we have little or no editorial control over the material.  We therefore cannot guarantee the accuracy, timeliness, completeness, performance or fitness for any particular purpose of the material available through the Service.  We cannot accept responsibility for errors, omissions, or inaccurate material available through the Service, and make no warranty that the Service will be uninterrupted or error free, or that any defects will be corrected.

  %p Whilst we take steps to prevent misuse of our systems, we cannot warrant that the Service will be free of viruses or other malicious code and accept no liability for loss or damage caused from the transmission of such code.  We recommend that you always use up-to-date firewalls and anti-virus software to protect your equipment and data.

  %p The ratings, reviews and other information found on the Service are provided by users, not by us.  We do not endorse or recommend any particular third party service.  Any material you obtain from the Service is used at your own risk, and we will not be liable for any loss or damage arising out of or in connection with access or use of the Service (except to the extent that such liability cannot be excluded by law).

  = link_to 'back to top', '#top', class: 'top_link'

  %h3 Use of the Service

  %p You are responsible for ensuring that you and your subcontractors are legally entitled to advertise any services which you advertise through the Service.  You may not advertise any services which are not legal or which may not legally be performed by you or your subcontractors.

  %p You understand that all information, data, text, software, music, sound, photographs, graphics, video, messages or other materials which are uploaded or otherwise transmitted through the Service ("Content") are the sole responsibility of the person from whom such Content originated.  This means that you, and not us, are entirely responsible for all Content which you upload or otherwise transmit through the Service.

  %p We will not be a party to any contract made between you and any other user of the Service and therefore we shall not be liable for any loss or damage that results from any dealings between you and any such user including but not limited to any direct, indirect or consequential or inconsequential loss of any kind.

  %p You agree that you shall:
  %ul
    %li provide true, accurate, current and complete information about yourself, as prompted by the registration form on the Website [or Apps] and maintain and promptly update this registration data to keep it true, accurate, current and complete;
    %li not undertake any activity which may harm our reputation or bring us into disrepute;
    %li not use the Service for any fraudulent purpose or to send, upload or post any Content which is abusive, defamatory, indecent, menacing, obscene or breaches the rights (including intellectual property rights) of any third party;
    %li not use the Service to impersonate any person or entity, falsely state or otherwise misrepresent your affiliation with any person or entity, or express or imply that we endorse any statement you make;
    %li not introduce, transmit or otherwise make available on or via the Service any virus, worm, Trojan horse, spyware, or other computer code, file, or program that is harmful or invasive or is intended to damage or hijack the operation of, or to monitor the use of, any hardware, software, or equipment;
    %li not restrict or inhibit any person from using the Service (including hacking or defacing any portion of the servers or networks used to host the Service);
    %li not modify, adapt, translate, reverse engineer, decompile, or disassemble any portion of the Service;
    %li not remove any copyright, trademark, or other proprietary rights notice from any portion of the Service;
    %li not cause the Service to be interrupted, damaged, rendered less efficient or such that the effectiveness or functionality of the Service is in any way impaired; and
    %li
      comply with the
      %a{:href => "/privacy"}Privacy Policy.


  %p We do not review or confirm the accuracy of all details provided to us by users of the Service, and we therefore cannot guarantee that all reviews include correct and complete information.  Further, we cannot guarantee that your use of the Service will result in business for you, and no refund is offered in the event that you do not obtain business from registering with or advertising through the Service.

  = link_to 'back to top', '#top', class: 'top_link'

  %h3 Payments

  %p Although you can register on the Website for free, some optional parts of the Service are chargeable ("Fees").

  %p You agree to immediate payment of Fees for any and all parts of the Service you request from us in accordance with our payment terms and as more specifically set out in the tariff of fees at Tariff of Fees, as updated from time to time.

  = link_to 'back to top', '#top', class: 'top_link'

  %h3 Links and User Content
  %p It is not possible for us to review all websites which are linked from the Service (or link to the Service), and you should therefore take care when following any link.  We cannot accept liability for any loss or damage that may be suffered as a result of following any links.  [You agree not to post links to any third party websites.]

  %p Although our hope is that all users of the Service will use the Service responsibly, and we require all such users to ensure that all Content which they upload or otherwise transmit through the Service is lawful, we are not responsible for reviewing or policing user Content and so it is possible that the Service may carry offensive, harmful, inaccurate or otherwise inappropriate Content.  We urge you to exercise proper judgement and to use caution and common sense when using the Service.

  %p You are responsible for your own communications and for any consequences arising out of them.

  %p We do not guarantee the truthfulness, accuracy, or reliability of any Content or endorse any opinions expressed by users of the Service.  You should take all due care in relying on Content submitted by other users, as this is done at your own risk.

  %p Please note that, with the exception of some of the personal information you provide at registration, such as your personla name, personal address and password, the Content that you upload or otherwise transmit through the Service will generally be accessible to the public.  You should therefore not make any such Content available through the Service that you would not want to be made public.  In particular, do not give out any personally identifying information about yourself or any other person through the Service, unless you are entitled to do so and are happy for this information to be public.

  = link_to 'back to top', '#top', class: 'top_link'

  %h3 Use of Information

  %p You are solely responsible for the accuracy and completeness of the Content that you upload or otherwise transmit through the Service and agree only to provide true, accurate, current and complete Content.  You also accept all liability arising out of or in connection with the processing and transmission of your Content.

  %p You acknowledge that we may edit, modify or remove any parts of your Content which we consider is in breach of any of the provisions of this Agreement, and/or suspend or terminate your access to the Service without notice.

  %p By providing Content you grant to us a royalty-free, perpetual, irrevocable, non-exclusive licence to use, copy, reproduce, modify, publish, edit, translate, distribute, perform, and display the Content alone or as part of other works in any form, media, or technology whether now known or hereafter developed, and to sub-license such rights through multiple tiers of sub-licensees.  The foregoing grants shall include the right to exploit any proprietary rights in such Content, including but not limited to rights under copyright, trademark, service mark or patent laws under any relevant jurisdiction.  You also waive any moral rights you have in the Content.  Do not submit any Content through the Service that you would not want us to use in this way.

  %p You agree not to copy, reproduce, modify, create derivative works from, distribute or publicly display any Content (except for Content you have submitted) from the Service without our prior written permission.

  = link_to 'back to top', '#top', class: 'top_link'

  %h3 Arrangements with Users
  %p We believe that our [rate and review] system provides users with the best independent feedback on the quality, value and reliability of suppliers.  Furthermore, your willingness to be [rated and reviewed] may provide other users of the Service with a level of confidence regarding your services and ability.  A key reason that services are made available through the Service is that users are able to read reviews by previous customers.  You therefore agree that you may be [rated and reviewed] by users accordingly and that the [ratings and reviews] will be published on the Service.

  %p Should you (or any of your subcontractors) have a dispute with another user, you must address such dispute directly to the user concerned.  However, you agree to notify the details of the dispute to us as soon as reasonably practicable.

  %p We may decide to investigate any grievances held by you or by other users and may discuss any such investigation with all involved parties.  We may take any lawful action we deem necessary in the event of a grievance, but likely outcomes of a grievance investigation include:
  %ul
    %li you and the other user being allowed to continue using the Service;
    %li your and/or the other user's access to the Service being suspended for a period of time;
    %li your and/or the other user's access to the Service being terminated and banned for a definite or indefinite period.

  %p In the event of a suspension or termination, no further Fees shall accrue to the extent that access to the Service is suspended or terminated.  However, any Fees already accrued shall become immediately payable.
  Save as provided above, we cannot be involved in your dealings with other users of the Service and, in the event that you have a dispute with one or more such users, you hereby release us from any and all claims, demands and damages of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.

  = link_to 'back to top', '#top', class: 'top_link'

  %h3 Intellectual Property Rights

  %p You acknowledge that all present and future copyright and other intellectual property rights subsisting in, or used in connection with, the Service or any part of it, including the manner in which the Service is presented or appears and all information and documentation relating to it, is our property (or that of our licensors), and nothing in this Agreement shall be taken to transfer any of these rights to you.
  = link_to 'back to top', '#top', class: 'top_link'

  %h3 Indemnity

  %p It is your responsibility to ensure that you are entitled to provide the Content that you upload or otherwise transmit through the Service and you therefore agree to indemnify us against any and all expenses, damages and losses of any kind (including reasonable legal fees and costs) incurred by us in connection with any actual or threatened claims of any kind (including without limitation any claim of trademark or copyright infringement, defamation, breach of confidentiality, false or misleading advertising or sales practices) arising from your provision of Content or arising from your use of the Service.

  = link_to 'back to top', '#top', class: 'top_link'

  %h3 Limitation of Liability

  %p Notwithstanding any other provision, nothing in this Agreement shall exclude or limit either party's liability for death or personal injury caused by that party's negligence, fraud or fraudulent misrepresentation, or any other liability that cannot lawfully be excluded or limited.

  %p If you are dissatisfied with the Service or any of the terms of this Agreement, your sole remedy under this Agreement shall be to discontinue use of the Service.

  %p In the event that your dissatisfaction arises due to an act or omission by us which constitutes a material breach of this Agreement, our maximum liability to you shall be a refund of the Fees paid by you in the twelve (12) months prior to the occurrence of the circumstances constituting such material breach.

  %p Without limiting the foregoing, we shall have no liability for any failure or delay resulting from any matter beyond our reasonable control.

  %p Other than as set out above in this 'Limitation of Liability' section, and notwithstanding any other provision of this Agreement, we shall not be liable in contract, tort, negligence, statutory duty, misrepresentation or otherwise, for any loss or damage whatsoever arising from or in any way connected with this Agreement.

  %p Save as expressly set out herein, all conditions, warranties and obligations which may be implied or incorporated into this Agreement by statute, common law, or otherwise and any liabilities arising from them are hereby expressly excluded to the extent permitted by law.

  %p We shall not be liable for any loss of business, loss of profits, business interruption, loss of business information, loss of data, or any other pecuniary loss (even where we have been advised of the possibility of such loss or damage).

  %p Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages.  Accordingly, some of the above limitations of liability may not apply to you.

  %p In the event that any limitation or exclusion of liability in this Agreement proves ineffective, then we shall not be liable to you for more than £100 in aggregate.

  %p We cannot guarantee the day or time that we will respond to any email, telephone or written enquiries or Website [or Apps] submissions.

  = link_to 'back to top', '#top', class: 'top_link'

  %h3 Our Rights

  %p We reserve the right at all times to edit, refuse to post, or to remove from the Service any Content for any reason whatsoever, and to disclose any Content we deem appropriate to satisfy any applicable law, regulation, legal process, police request or governmental request.

  %p We reserve the right to terminate the provision to you of the Service or restrict your access to the Service at any time without notice for convenience, provided that no further Fees shall accrue after the date of any such termination and that you will receive a refund of any Fees paid in advance within 30 calendar days of any such termination.

  %p Without prejudice to the generality of the above, we reserve the right to terminate the provision to you of the Service or restrict your access to the Service at any time without notice and without any liability to you in the event that you are in material breach of any term of this Agreement (which shall include, without limitation, where payments due from you are overdue by [thirty (30)] calendar days or more).

  %p We reserve the right to modify or discontinue temporarily or permanently all or part of the Service, with or without notice, without liability for any modification or discontinuance.

  %p We may vary the terms of this Agreement from time to time.  You are advised to regularly check the terms of this Agreement for any such variation and note the date set out above on which the terms of this Agreement were last updated.  The amended Agreement will take effect on the date on which we publish any variation through the Service.  If you do not agree with the amended Agreement then you have the right to stop using the Service, and should do so immediately.  Your continued use of the Service after the date the changes have been posted will constitute acceptance of the amended Agreement.

  = link_to 'back to top', '#top', class: 'top_link'

  %h3 General
  %p Section headings are inserted for convenience only and shall not affect the interpretation of this Agreement.

  %p Each paragraph of this Agreement shall be construed separately and independently of the other paragraphs.
  If any provision(s) of this Agreement are held to be illegal or unenforceable such provisions shall be severed and the remainder of this Agreement shall remain in full force and effect unless the business purpose of this Agreement is substantially frustrated, in which case it shall terminate without giving rise to further liability.

  %p You may not assign, transfer or sub-contract any of your rights hereunder without our prior written consent.  We may assign, transfer or sub-contract all or any of our rights at any time without your consent.
  No waiver shall be effective unless in writing, and no waiver shall constitute a continuing waiver so as to prevent us from acting upon any continuing or subsequent breach or default.

  %p This Agreement constitutes the entire agreement as to its subject matter and supersedes and extinguishes all previous communications, representations (other than fraudulent misrepresentations) and arrangements, whether written or oral with the exception of the Terms of Use where these have been entered into.
  Where applicable, to the extent that there is any conflict between them, the below agreements shall apply in the following order of precedence:

  %ul
    %li this Agreement; then
    %li the Terms of Use.

  %p You acknowledge that you have placed no reliance on any representation made but not set out expressly in this Agreement.

  %p Any notice to be given under this Agreement may be given via e-mail, regular mail, facsimile or by hand to the address provided on the Website [or Apps] or otherwise as notified by one party to the other.
  Nothing herein shall create or be deemed to create any joint venture, principal-agent or partnership relationship between the parties and neither party shall hold itself out in its advertising or otherwise in any manner which would indicate or imply any such relationship with the other.

  %p Notwithstanding any other provision in this Agreement, a person who is not a party to this Agreement has no right under the Contracts (Rights of Third Parties) Act 1999 to rely upon or enforce the terms of this Agreement.

  %p This Agreement shall be subject to the laws of England and the parties shall submit to the non- exclusive jurisdiction of the English courts.

  %p
    In the event of any comments or questions regarding this Agreement (including the
    %a{:href => "/privacy"}Privacy Policy
    ) then please
    %a{:href => "/contact_us"}Contact Us.

  = link_to 'back to top', '#top', class: 'top_link'

