<div class='inner_page_text_based terms_page' id="top">
  <h1>Terms of Use</h1>

  <p>Thank you for accessing our Service at <a href="http://www.guidetobe.co.uk">www.guidetobe.co.uk</a> (the "Website").  Please read the following Terms of Use carefully as they govern your use of the Service.  Do not use the Service unless you wish to be bound by these terms because, by clicking 'Agree to T+Cs' and/or continuing to use any part of the Service, you confirm your acceptance of these Terms of Use (which also includes the <a href="/privacy">Privacy Policy</a>).</p>

  <p>The Service is not directed at any person in any jurisdiction where the publication or availability of the Service is prohibited.  You must not access the Service from any such jurisdiction.  You are responsible for all compliance with local laws and regulations which apply to you.</p>

  <p>These Terms of Use were last modified December 2013.</p>

  <h3>Definitions</h3>
  <p>We are Guide to Be Limited.  Our registered company number is 08730154 and our registered office is at 349 Bury Old Road, Prestwich, Manchester, UK, M25  Where we refer to ourselves in these Terms of Use, this is also taken to include (where the context allows) our employees, affiliates, associated and contracted persons, and persons supplying services to us.</p>

  <p>Where we refer to you in these Terms of Use, this also includes any person that accesses or uses our Service on your behalf.</p>

  <p>The "Terms of Use" include the terms set out here and the <a href="/privacy">Privacy Policy</a>, as made available via the internet.</p>

  <p>The "Service" consists of the Website (currently located at <a href="http://www.guidetobe.co.uk">www.guidetobe.co.uk</a>), any pages we operate on third party social media applications, and the content and services we make available through them via the internet, mobile devices including smart phones and tablets, and/or interactive television devices and services.</p>

  <p>
    <%= link_to 'back to top', '#top', class: 'top_link' %>
  </p>

  <h3>Service Content</h3>

  <p>The vast majority of the material on the Service originates from our users and we have little or no editorial control over the material.  We therefore cannot guarantee the accuracy, timeliness, completeness, performance or fitness for any particular purpose of the material available through the Service.  We cannot accept responsibility for errors, omissions, or inaccurate material available through the Service, and make no warranty that the Service will be uninterrupted or error free, or that any defects will be corrected.</p>

  <p>Whilst we take steps to prevent misuse of our systems, we cannot warrant that the Service will be free of viruses or other malicious code and accept no liability for loss or damage caused from the transmission of such code.  We recommend that you always use up-to-date firewalls and anti-virus software to protect your equipment and data.</p>

  <p>The ratings, reviews and other information found on the Service are provided by users, not by us.  We do not endorse or recommend any particular third party service.  Any material you obtain from the Service is used at your own risk, and we will not be liable for any loss or damage arising out of or in connection with access or use of the Service (except to the extent that such liability cannot be excluded by law).</p>
  <p>
    <%= link_to 'back to top', '#top', class: 'top_link' %>
  </p>

  <h3>Use of the Service</h3>

  <p>You are responsible for ensuring that you are legally entitled to publish any information that is uploaded or otherwise transmitted by you through the Service.  You understand that all information, data, text, software, music, sound, photographs, graphics, video, messages or other materials which are uploaded or otherwise transmitted through the Service ("Content") are the sole responsibility of the person from whom such Content originated.  This means that you, and not us, are entirely responsible for all Content that you upload or otherwise transmit through the Service.</p>

  <p>If you decide to engage in business with any supplier who advertises through the Service ("Supplier"), then this decision is made solely by you.  We may carry out certain verification checks on Suppliers, but cannot guarantee any specific Supplier's information, accreditation, or registration.  We make no warranty regarding any goods or services purchased or obtained as a result of using the Service, and you should in all cases make your own enquiries.  In particular, it is your responsibility to satisfy yourself that the Supplier is solvent and has appropriately qualified and certified personnel where appropriate.</p>

  <p>We will not be a party to any contract made between you and any Supplier and therefore we shall not be liable for any loss or damage that results from any dealings between you and any Supplier including but not limited to any direct, indirect or consequential or inconsequential loss of any kind.</p>

  <p>You agree that you shall:</p>
  <ul>
     <li>provide true, accurate, current and complete information about yourself, as prompted by the registration form on the Website and maintain and promptly update this registration data to keep it true, accurate, current and complete;</li>
     <li>not undertake any activity which may harm our reputation or bring us into disrepute;</li>
     <li>not use the Service for any fraudulent purpose or to send, upload or post any Content which is abusive, defamatory, indecent, menacing, obscene or breaches the rights (including intellectual property rights) of any third party;</li>
     <li><p>not use the Service to impersonate any person or entity, falsely state or otherwise misrepresent your affiliation with any person or entity, or express or imply that we endorse any statement you make;</p></li>
     <li>not introduce, transmit or otherwise make available on or via the Service any virus, worm, Trojan horse, spyware, or other computer code, file, or program that is harmful or invasive or is intended to damage or hijack the operation of, or to monitor the use of, any hardware, software, or equipment;</li>
     <li>not restrict or inhibit any person from using the Service (including hacking or defacing any portion of the servers or networks used to host the Service);</li>
     <li>not modify, adapt, translate, reverse engineer, decompile, or disassemble any portion of the Service;</li>
     <li>not remove any copyright, trademark, or other proprietary rights notice from any portion of the Service;</li>
     <li>not cause the Service to be interrupted, damaged, rendered less efficient or such that the effectiveness or functionality of the Service is in any way impaired; and</li>
     <li>comply with the Privacy Policy.</li>
  </ul>

   <p>
     <%= link_to 'back to top', '#top', class: 'top_link' %>
   </p>

  <h3>Links and User Content</h3>

  <p>It is not possible for us to review all websites which are linked from the Service (or link to the Service), and you should therefore take care when following any link.  We cannot accept liability for any loss or damage that may be suffered as a result of following any links.</p>

  <p>Although our hope is that all users of the Service will use the Service responsibly, and we require all such users to ensure that all Content which they upload or otherwise transmit through the Service is lawful, we are not responsible for reviewing or policing user Content and so it is possible that the Service may carry offensive, harmful, inaccurate or otherwise inappropriate Content.  We urge you to exercise proper judgement and to use caution and common sense when using the Service.</p>

  <p>You are responsible for your own communications and for any consequences arising out of them.</p>

  <p>We do not guarantee the truthfulness, accuracy, or reliability of any Content or endorse any opinions expressed by users of the Service.  You should take all due care in relying on Content, as this is done at your own risk.</p>

  <p>Please note that, with the exception of some of the personal information you provide at registration, such as your personal contact details and password, the Content that you upload or otherwise transmit through the Service will generally be accessible to the public.  You should therefore not make any such Content available through the Service that you would not want to be made public.  In particular, do not give out any personally identifying information about yourself or any other person through the Service, unless you are entitled to do so and are happy for this information to be public.</p>

  <p>
    <%= link_to 'back to top', '#top', class: 'top_link' %>
  </p>

  <h3>Use of Information</h3>
  <p>You agree not to copy, reproduce, modify, create derivative works from, distribute or publicly display any Content (except for information that you yourself have submitted) from the Service without our prior written permission.</p>

  <p>You acknowledge that we may edit, modify or remove any Content which we consider is in breach of any of the provisions of this Agreement, and/or suspend or terminate your access to the Service without notice.</p>

  <p>By providing Content, you grant to us a royalty-free, perpetual, irrevocable, non-exclusive licence to use, copy, reproduce, modify, publish, edit, translate, distribute, perform, and display the Content alone or as part of other works in any form, media, or technology whether now known or hereafter developed, and to sub-license such rights through multiple tiers of sub-licensees.  The foregoing grants shall include the right to exploit any proprietary rights in such Content, including but not limited to rights under copyright, trademark, service mark or patent laws under any relevant jurisdiction.  You also waive any moral rights you have in the Content.  Do not submit any Content on the Service that you would not want us to use in this way.</p>

  <p>You agree not to copy, reproduce, modify, create derivative works from, distribute or publicly display any Content (except for Content you have submitted) from the Service without our prior written permission.</p>

  <p>
    <%= link_to 'back to top', '#top', class: 'top_link' %>
  </p>

  <h3>Arrangements with Suppliers</h3>

  <p>Should you have a dispute with a Supplier, you must address such dispute directly to the Supplier concerned.  However, you agree to notify the details of the dispute to us as soon as reasonably practicable.</p>

  <p>We may decide to investigate any grievances held by you or by Suppliers and may discuss any such investigation with all involved parties.  We may take any lawful action we deem necessary in the event of a grievance, but likely outcomes of a grievance investigation include:</p>

  <ul>
    <li>you and the Supplier being allowed to continue using the Service;</li>
    <li>your and/or the Supplier's access to the Service being suspended for a period of time;</li>
    <li>your and/or the Supplier's access to the Service being terminated and banned for a definite or indefinite period.</li>
  </ul>

  <p>Save as provided above, we cannot be involved in your dealings with Suppliers and, in the event that you have a dispute with one or more Suppliers, you hereby release us from any and all claims, demands and damages of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.</p>
  <p>
    <%= link_to 'back to top', '#top', class: 'top_link' %>
  </p>

  <h3>Intellectual Property Rights</h3>

  <p>You acknowledge that all present and future copyright and other intellectual property rights subsisting in, or used in connection with, the Service or any part of it, including the manner in which the Service is presented or appears and all information and documentation relating to it, is our property (or that of our licensors), and nothing in these Terms of Use shall be taken to transfer any of these rights to you.</p>

  <p>
    <%= link_to 'back to top', '#top', class: 'top_link' %>
  </p>

  <h3>Indemnity</h3>

<p>It is your responsibility to ensure that you are entitled to provide the Content that you submit on the Service and you therefore agree to indemnify us against any and all expenses, damages and losses of any kind (including reasonable legal fees and costs) incurred by us in connection with any actual or threatened claims of any kind (including without limitation any claim of trademark or copyright infringement, defamation, breach of confidentiality, false or misleading advertising or sales practices) arising from your provision of Content or arising from your use of the Service.</p>
  <p>
    <%= link_to 'back to top', '#top', class: 'top_link' %>
  </p>

  <h3>Limitation of Liability</h3>
  <p>Notwithstanding any other provision, nothing in these Terms of Use shall exclude or limit either party's liability for death or personal injury caused by that party's negligence, fraud or fraudulent misrepresentation, or any other liability that cannot lawfully be excluded or limited.</p>

  <p>If you are dissatisfied with the Service or any of these Terms of Use, your sole remedy under these Terms of Use shall be to discontinue use of the Service.</p>

  <p>Without limiting the foregoing, we shall have no liability for any failure or delay resulting from any matter beyond our reasonable control.</p>

  <p>Other than as set out in this 'Limitation of Liability' section, and notwithstanding any other provision of these Terms of Use, we shall not be liable in contract, tort, negligence, statutory duty, misrepresentation or otherwise, for any loss or damage whatsoever arising from or in any way connected with these Terms of Use.</p>

  <p>Save as expressly set out herein, all conditions, warranties and obligations which may be implied or incorporated into these Terms of Use by statute, common law, or otherwise and any liabilities arising from them are hereby expressly excluded to the extent permitted by law.</p>

  <p>We shall not be liable for any loss of business, loss of profits, business interruption, loss of business information, loss of data, or any other pecuniary loss (even where we have been advised of the possibility of such loss or damage).</p>

  <p>Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages.  Accordingly, some of the above limitations of liability may not apply to you.</p>

  <p>In the event that any limitation or exclusion of liability in these Terms of Use proves ineffective, then we shall not be liable to you for more than £100 in aggregate.</p>

  <p>We cannot guarantee the day or time that we will respond to any email, telephone or written enquiries or Website [or Apps] submissions.</p>

  <p>
    <%= link_to 'back to top', '#top', class: 'top_link' %>
  </p>

  <h3>Our Rights</h3>

  <p>We reserve the right at all times to edit, refuse to post, or to remove from the Service any Content for any reason whatsoever, and to disclose any Content we deem appropriate to satisfy any applicable law, regulation, legal process, police request or governmental request.</p>

  <p>We reserve the right to terminate the provision to you of the Service or restrict your access to the Service at any time without notice for any reason whatsoever.</p>

  <p>We reserve the right to modify or discontinue temporarily or permanently all or part of the Service, with or without notice, without liability for any modification or discontinuance.</p>

  <p>We may vary these Terms of Use from time to time.  You are advised to regularly check these Terms of Use for any such variation and note the date set out above on which these Terms of Use were last updated.  The amended Terms of Use will take effect on the date on which we publish any variation through the Service.  If you do not agree with the amended Terms of Use then you have the right to stop using the Service, and should do so immediately.  Your continued use of the Service after the date the changes have been posted will constitute acceptance of the amended Terms of Use.</p>

  <p>
    <%= link_to 'back to top', '#top', class: 'top_link' %>
  </p>

  <h3>General</h3>

  <p>Section headings are inserted for convenience only and shall not affect the interpretation of these Terms of Use.</p>

  <p>Each paragraph of these Terms of Use shall be construed separately and independently of the other paragraphs.</p>

  <p>If any provision(s) of these Terms of Use are held to be illegal or unenforceable such provisions shall be severed and the remainder of these Terms of Use shall remain in full force and effect unless the business purpose of these Terms of Use is substantially frustrated, in which case they shall terminate without giving rise to further liability.</p>

  <p>You may not assign, transfer or sub-contract any of your rights hereunder without our prior written consent.  We may assign, transfer or sub-contract all or any of our rights at any time without your consent.</p>

  <p>No waiver shall be effective unless in writing, and no waiver shall constitute a continuing waiver so as to prevent us from acting upon any continuing or subsequent breach or default.</p>

  <p>These Terms of Use constitute the entire agreement as to its subject matter and supersedes and extinguishes all previous communications, representations (other than fraudulent misrepresentations) and arrangements, whether written or oral, with the exception of the Supplier Agreement where this has been entered into.</p>

  <p>Where applicable, to the extent that there is any conflict between them, the below agreements shall apply in the following order of precedence:</p>

  <ul>
    <li>Supplier Agreement; then</li>
    <li>these Terms of Use.</li>
  </ul>

  <p>You acknowledge that you have placed no reliance on any representation made but not set out expressly in these Terms of Use.</p>

  <p>Any notice to be given under these Terms of Use may be given via e-mail, regular mail, facsimile or by hand to the address provided on the Website [or Apps] or otherwise as notified by one party to the other.</p>

  <p>Nothing herein shall create or be deemed to create any joint venture, principal-agent or partnership relationship between the parties and neither party shall hold itself out in its advertising or otherwise in any manner which would indicate or imply any such relationship with the other.</p>

  <p>Notwithstanding any other provision in these Terms of Use, a person who is not a party to these Terms of Use has no right under the Contracts (Rights of Third Parties) Act 1999 to rely upon or enforce these Terms of Use.</p>

  <p>These Terms of Use shall be subject to the laws of England and the parties shall submit to the non- exclusive jurisdiction of the English courts.</p>

  <p>In the event of any comments or questions regarding these Terms of Use (including the <a href="/privacy">Privacy Policy</a>) then please Contact Us.</p>

  <p>
    <%= link_to 'back to top', '#top', class: 'top_link' %>
  </p>
</div>

