.panel
  %h1 In the past week...

  %br
  %p #{@bride} brides have opened a new account
  %br
  %p There have been #{@review} new reviews
  %br
  %p #{@supplier} new suppliers have been added
  %br
  %p #{@owner} new businesses have been claimed
  %br
  %p #{@premium} of these were premium subscriptions
  %br
  %p #{@silver} of these were silver subscriptions
  %br
  %p #{@gold} of these were gold subscriptions
 
