.home_links.city_page
  - if current_owner
    - if current_owner.product.name == "Golden"
      = link_to 'Edit my listing', edit_supplier_path(current_owner.supplier), class: 'edit_my_listing_button pink_button_update'
    - else
      = link_to 'Edit my listing', edit_supplier_path(current_owner.supplier), class: 'edit_my_listing_button pink_button_update'
      = link_to 'Upgrade my listing', edit_owner_path(current_owner), class: 'write_review_button user_upgrade_button'     
  - elsif current_bride
    = link_to 'Share your review', new_supplier_path, class: 'write_review_button'
  - else
    -#= link_to 'FREE business listing', business_listings_path, class: 'claim_business_button'
    = link_to 'Share your review', new_supplier_path, class: 'write_review_button'

  
